@font-face {
  font-family: 'SFMono-Medium';
  src: local('SFMono-Medium'),
    url(./assets/fonts/SFMono-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'SFMono-Bold';
  src: local('SFMono-Bold'),
    url(./assets/fonts/SFMono-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'SFMono-Regular';
  src: local('SFMono-Regular'),
    url(./assets/fonts/SFMono-Regular.otf) format('opentype');
}

html,
body,
#me {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: 'SFMono-Medium';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
